.expanded-menu {
  border-radius: 15px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  width: 80%;
  min-width: 270px;
  max-width: 400px;
  position: fixed;
  right: 10px;
  top: 50px;
  z-index: 1;
  background-color: #E3EFE5;
}

.list-item {
  list-style-type: none;
}

.list-button {
  display: flex;
  justify-content: stretch;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #c1c8c2;
  color: #e6eee7;
  text-decoration: none;
}

.list-button img {
  margin-right: 20px;
}

.list-button:hover {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  padding: 1rem 1.5rem;
  transform: rotate(-2deg);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.list-item:first-child .list-button {
  background-color: #E3EFE5;
  color: rgba(48, 47, 46, 1)
}

@media screen and (min-width: 660px) {
  .expanded-menu {
    top: 30px;
    right: 30px;
    max-height: 100px;
  }

}
