.header {
  min-height: 120px;
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  background-size: 100% auto;
}

.header-shelf {
  background-image: url(/assets/header_shelf.png);
  box-shadow: 0px 13px 20px -3px rgba(0, 0, 0, 0.75);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 28px;
  height: 23px;
  width: 100%;
  margin-bottom: 20px;
}

.header-title {
  font-size: 4rem;
  text-align: center;
  font-family: "Aboreto";
  color: var(--font-color);
  text-shadow: 10px 10px 10px rgb(89, 88, 88),
    -10px -10px 10px rgb(209, 208, 208);
  letter-spacing: 3px;
}

.only-desktop {
  display: none;
}

/*Naviagtion styles*/

.nav-icon {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-size: 0;
  line-height: 0;
  position: absolute;

}

.nav-icon--home {
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.nav-icon--home:active {
  background-color: #a8cf31;
  border-radius: 6px;
}

/*uprav velkost ikon*/

.nav-icon img {
  width: 2rem;
  height: 2rem;
  display: block;
}

.logo-header-small {
  /*left: 20px;
  top: 20px;*/
  display: block;
  width: 3rem;
  margin-top: 8px;
  margin-left: 10px;
}


@media screen and (min-width: 400px) {
  .header {
    min-height: 180px;
    width: 100%;

  }
}

@media screen and (min-width: 660px) {
  .header {
    background-image: none;
    min-height: 70px;
    height: 60px;
    background-color: var(--accent-color-beige);
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    margin-bottom: 4rem;
  }

  .logo-header-small {
    order: 1;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: auto;
  }

  .header-title {
    display: block;
    order: 2;
    flex-grow: 1;
    text-align: center;
    font-size: 2.5rem;
  }

  .nav-icons {
    position: static;
    display: flex;
    align-items: center;
    order: 3;
    margin-left: auto;
  }

  .nav-icon--home {
    position: static;
    top: auto;
    right: auto;
    cursor: pointer;
  }

  .nav-icon {
    position: static;
  }

  .header-shelf {
    display: none;
  }
}
