.header {
  background-image: url(../../assets/shelfie_header_small.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 20vh;
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  background-size: 100% auto;
}

.only-desktop{
  display: none;
}

@media screen and (min-width: 660px) {
  .header {
    background-image: none;
    min-height: 60px;
    height: 60px;
    background-color: beige;
    display: flex;
  }

  .only-desktop{
    display: inline-block;
    border: none;
    font-family: "Aboreto";
    background-color: transparent;
    font-size: 2.5rem;
    text-align: center;
    padding-left: 1rem;
  }
}

/*Naviagtion styles*/

.nav-icon {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-size: 0;
  line-height: 0;
  position: absolute;

}

.nav-icon--home {
  top: 1rem;
  right: 1rem;
}

/*uprav velkost ikon*/

.nav-icon img {
  width: 2rem;
  height: 2rem;
  display: block;
}



/* @media (min-width: 480px) {
  .header {
    background-size: 100% auto;
    height: 23vh;
  }
} */

@media (min-width: 768px) {
  .header {
    background-size: 100% auto;
  }
}


/* CSS: @media (min-width: 660px){
.header-big {
  display: flex; 
  justify-content: flex-start;
  min-height: 50px;
  background-color: pink;
  width: 100%;
  padding: 1.5rem;
}

.header-title {
  font-family: "Aboreto";
  font-size: 3rem;
  transition: color 0.3s ease;
 
}

.header-title:hover{
  color: rgb(172, 130, 137);
}
} */
