.header {
  background-image: url(../../assets/shelfie_header_small.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  min-height: 120px;
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  background-size: 100% auto;
}

.only-desktop {
  display: none;
}

/*Naviagtion styles*/

.nav-icon {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-size: 0;
  line-height: 0;
  position: absolute;

}

.nav-icon--home {
  top: 1rem;
  right: 1rem;
}

/*uprav velkost ikon*/

.nav-icon img {
  width: 2rem;
  height: 2rem;
  display: block;
}

.logo-header-small {
  /*left: 20px;
  top: 20px;*/
  display: block;
  width: 3rem;
  margin-top: 8px;
  margin-left: 10px;
}


@media screen and (min-width: 400px) {
  .header {
    min-height: 180px;
    width: 100%;

  }
}

@media screen and (min-width: 660px) {
  .header {
    background-image: none;
    min-height: 60px;
    height: 60px;
    background-color: beige;
    display: flex;
    margin: 0;
    align-items: center;
  }

  .only-desktop {
    display: inline-block;
    border: none;
    font-family: "Aboreto";
    background-color: transparent;
    font-size: 2.5rem;
    text-align: center;
    padding-left: 1rem;

  }

  /* .nav-icon img {
    display: none;
  } */

  .logo-header-small {
    margin-bottom: 8px;
  }
}
