/* .footer {
  text-align: center;
  padding-bottom: 2rem;
  position: relative;
}

.footer-title {
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 0.15rem;
  z-index: 1;
  position: relative;
} */

.footer {
  text-align: center;
  position: relative;
  bottom: 0;

}

.footer-title {
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 0.15rem;
  z-index: 1;
  position: relative;
}
