* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #E3EFE5;
  --shelf-color: #b27c5c;
  --book-shadow: rgba(0, 0, 0, 0.2);
  --font-main: 'Segoe UI', sans-serif;
  --font-color: rgba(48, 47, 46, 1);
  --font-family: "Montserrat", sans-serif;

}

html,
body {
  height: 100%;
  background-color: var(--background-color);
  color: #222;
  font-family: var(--font-family);
  
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /*justify-content: space-between;
  align-items: center;*/
}
